<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>There has been an error</title>
  </head>
  <body>
    <p><%= errMsg %></p>
    <a href="/">Return to cupboard</a>
  </body>
</html>
