body{
    background-color: rgb(237, 237, 203);
}

.Container {
  max-width: 10000px;
}

input[type="submit"] {
  width: 50%; /* or any desired width */
}

/* Make text inputs narrower */
input[type="text"]{
  width: 40%; /* or any desired width */
  margin: 0 auto;
}

.NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.SearchInput {
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: black ;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: text;
  font-family: 'Courier New', Courier, monospace;
  border-bottom-right-radius: 15px 255px;
  border-bottom-left-radius: 225px 15px;
  border-top-right-radius: 255px 15px;
  border-top-left-radius: 15px 225px;
  flex: 0.5 0 auto;
}

.NavBar .Btn {
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: black ;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  color: #41403e;
  cursor: pointer;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  flex: 0.1 0.1 auto;
  margin: 0 auto;
}

.NavBar .Btn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.NavBar.Btn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.Shelf{
  border-left: #333;
  border-right: #333;
  border-width: 20px;
  border-left-style: double;
  border-right-style: double;
  width: 88.5%;
  margin: 0 auto;
  padding: 15px;
}

.ShelfBottom{
  border-style: solid;
  border-width: 3px;
  border-color: black ;
  width: 100%;
  height: 20px;
  background: repeating-linear-gradient(45deg, #333, #333 10px, rgb(237, 237, 203) 10px, rgb(237, 237, 203) 20px);
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  box-shadow: rgb(0, 0, 0) 15px 28px 25px -10px;
}

.ShelfFrame{
  border-left: #333;
  border-right: #333;
  border-width: 20px;
  border-left-style: double;
  border-right-style: double;
  width: 88.5%;
  margin: 0 auto;
  padding: 10px;
}

.Fridge{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.FridgeMain{
  background-color: #fff;
  border-color: black;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
  padding: 10px;
  flex: 1 0 auto;
  height: 380px;
}

.FridgeDoor{
  background-color: #fff;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  border-width: 3px;
  padding: 20px;
  flex: 0 0 auto;
  margin-left: -4px;
}

.Handle{
  border: brown;
  border-style: solid;
}

.FridgeShelf {
  margin: 0 auto;
  padding: 10px;
}

#top {
  border: #333;
  border-style: solid;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#middle{
  border-left: #333 ;
  border-left-style: solid;
  border-right: #333 ;
  border-right-style: solid;
}

#bottom{
  border: #333;
  border-style: solid;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.ShelfItems{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.row {
  display: contents; /* Ensures the row elements don't create an extra grid item */
}

.col {
  display: flex;
  align-items: center;
}